<h1>Template for Reporting Results of Biomarker Testing of
    Specimens From Patients With Carcinoma of the Colon and
    Rectum </h1>
<p>Ref: <a href="https://documents.cap.org/protocols/ColoRectal.Bmk_1.3.0.0.REL_CAPCP.pdf" target="_blank">CAP
        v1.3.0.0</a></p>

<form [formGroup]="pathologyReportForm" (ngSubmit)="onSubmit()">


    <!-- Mismatch Repair and MSI Section -->
    <fieldset>
        <legend>
            <h2>Mismatch Repair & Microsatellite Instability (MSI)</h2>
        </legend>

        <fieldset formGroupName="mmrTesting">
            <legend><input type="checkbox" formControlName="done">Immunohistochemistry (IHC) Testing for Mismatch Repair
                (MMR) Proteins</legend>
            @if (pathologyReportForm.get('mmrTesting.done')?.value) {
            <fieldset>
                <legend>MLH1 Result</legend>
                <label><input type="radio" formControlName="mlh1Result" value="Intact nuclear expression"> Intact
                    nuclear
                    expression</label>
                <label><input type="radio" formControlName="mlh1Result" value="Loss of nuclear expression"> Loss of
                    nuclear expression</label>
                <label>
                    <input type="radio" formControlName="mlh1Result" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (pathologyReportForm.get('mmrTesting.mlh1Result')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="mlh1Explain">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>MSH2 Result</legend>
                <label><input type="radio" formControlName="msh2Result" value="Intact nuclear expression"> Intact
                    nuclear
                    expression</label>
                <label><input type="radio" formControlName="msh2Result" value="Loss of nuclear expression"> Loss of
                    nuclear expression</label>
                <label>
                    <input type="radio" formControlName="msh2Result" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (pathologyReportForm.get('mmrTesting.msh2Result')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="msh2Explain">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>MSH6 Result</legend>
                <label><input type="radio" formControlName="msh6Result" value="Intact nuclear expression"> Intact
                    nuclear
                    expression</label>
                <label><input type="radio" formControlName="msh6Result" value="Loss of nuclear expression"> Loss of
                    nuclear expression</label>
                <label>
                    <input type="radio" formControlName="msh6Result" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (pathologyReportForm.get('mmrTesting.msh6Result')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="msh6Explain">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>PMS2 Result</legend>
                <label><input type="radio" formControlName="pms2Result" value="Intact nuclear expression"> Intact
                    nuclear
                    expression</label>
                <label><input type="radio" formControlName="pms2Result" value="Loss of nuclear expression"> Loss of
                    nuclear expression</label>
                <label>
                    <input type="radio" formControlName="pms2Result" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (pathologyReportForm.get('mmrTesting.pms2Result')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="pms2Explain">
                    }
                </label>
            </fieldset>

            <label><input type="checkbox" formControlName="backgroundControl">Background nonneoplastic tissue / internal
                control

            </label>
            }
        </fieldset>

        @if (pathologyReportForm.get('mmrTesting.done')?.value) {
        <fieldset>
            <legend>IHC Interpretation</legend>
            <label><input type="radio" formControlName="ihcInterpretation"
                    value="No loss of nuclear expression of MMR proteins: low probability of MSI-H"> No loss of nuclear
                expression of MMR proteins: low probability of MSI-H </label>
            <br>
            <label><input type="radio" formControlName="ihcInterpretation"
                    value="Loss of nuclear expression of MLH1 and PMS2: testing for methylation of the MLH1 promoter and / or mutation of BRAF is indicated (the presence of a BRAF V600E mutation and / or MLH1 methylation suggests that the tumor is sporadic and germline evaluation is probably not indicated; absence of both MLH1 methylation and of BRAF V600E mutation suggests the possibility of Lynch syndrome and sequencing and / or large deletion /duplication testing of germline MLH1 may be indicated)">
                Loss of nuclear
                expression of MLH1 and PMS2: testing for methylation of the MLH1 promoter and / or mutation of BRAF is
                indicated (the presence of a BRAF V600E mutation and / or MLH1 methylation suggests that the tumor is
                sporadic and germline evaluation is probably not indicated; absence of both MLH1 methylation and of BRAF
                V600E mutation suggests the possibility of Lynch syndrome and sequencing and / or large deletion /
                duplication testing of germline MLH1 may be indicated) </label>
            <br><label><input type="radio" formControlName="ihcInterpretation"
                    value="Loss of nuclear expression of MSH2 and MSH6: high probability of Lynch syndrome (sequencing and / or large deletion / duplication testing of germline MSH2 may be indicated and, if negative, sequencing and / or large deletion / duplication testing of germline MSH6 may be indicated)">
                Loss of nuclear
                expression of MSH2 and MSH6: high probability of Lynch syndrome (sequencing and / or large deletion /
                duplication testing of germline MSH2 may be indicated and, if
                negative, sequencing and / or large deletion / duplication testing of germline MSH6 may be indicated)
            </label>
            <br><label><input type="radio" formControlName="ihcInterpretation"
                    value="Loss of nuclear expression of MSH6 only: high probability of Lynch syndrome (sequencing and / or large deletion / duplication testing of germline MSH6 may be indicated)">
                Loss of nuclear
                expression
                of MSH6 only: high probability of Lynch syndrome (sequencing and / or large deletion / duplication
                testing of germline MSH6 may be indicated) </label>
            <br><label><input type="radio" formControlName="ihcInterpretation"
                    value="Loss of nuclear expression of PMS2 only: high probability of Lynch syndrome (sequencing and / or large deletion / duplication testing of germline PMS2 may be indicated)">
                Loss of nuclear
                expression
                of PMS2 only: high probability of Lynch syndrome (sequencing and /
                or large deletion / duplication testing of germline PMS2 may be indicated)</label>
            <br>
            <label># There are exceptions to the above IHC interpretations. These results should not be considered in
                isolation, and clinical correlation with genetic counseling is recommended to assess the need for
                germline testing.</label>
        </fieldset>
        }

        <fieldset formGroupName="msi">
            <legend><input type="checkbox" formControlName="done">Microsatellite Instability (MSI)</legend>
            @if (pathologyReportForm.get('msi.done')?.value) {
            <label><input type="radio" formControlName="result" value="MSI-Stable (MSS)"> MSI-Stable (MSS)</label>

            <label><input type="radio" formControlName="result" value="MSI-Low (MSI-L)"> MSI-Low (MSI-L)</label>

            @if (pathologyReportForm.get('msi.result')?.value === 'MSI-Low (MSI-L)') {
            <div class="sub-section">
                <label><input type="radio" formControlName="msiLowDetail"
                        value="1-29% of the National Cancer Institute (NCI) or mononucleotide markers exhibit instability">
                    1-29% of the National Cancer Institute (NCI) or mononucleotide markers exhibit instability </label>
                <label><input type="radio" formControlName="msiLowDetail"
                        value="1 of the NCI or mononucleotide markers exhibits instability"> 1 of the NCI or
                    mononucleotide markers exhibits instability</label>
                <label>
                    <input type="radio" formControlName="msiLowDetail" value="Other"> Other (specify):
                    @if (pathologyReportForm.get('msi.msiLowDetail')?.value === 'Other') {
                    <input type="text" class="explain-field" formControlName="msiLowOther">
                    }
                </label>
            </div>
            }

            <label><input type="radio" formControlName="result" value="MSI-High (MSI-H)"> MSI-High (MSI-H)</label>

            @if (pathologyReportForm.get('msi.result')?.value === 'MSI-High (MSI-H)') {
            <div class="sub-section">
                <label><input type="radio" formControlName="msiHighDetail"
                        value="Greater than equal to 30% of the NCI or mononucleotide markers exhibit instability">
                    Greater than equal to 30% of the NCI or mononucleotide markers exhibit instability</label>
                <label><input type="radio" formControlName="msiHighDetail"
                        value="2 or more of the NCI or mononucleotide markers exhibit instability"> 2 or more of the NCI
                    or mononucleotide markers exhibit instability</label>
                <label>
                    <input type="radio" formControlName="msiHighDetail" value="Other"> Other (specify):
                    @if (pathologyReportForm.get('msi.msiHighDetail')?.value === 'Other') {
                    <input type="text" class="explain-field" formControlName="msiHighOther">
                    }
                </label>
            </div>
            }

            <label><input type="radio" formControlName="result" value="MSI-Cannot be determined"> MSI-Cannot be
                determined:
                @if (pathologyReportForm.get('msi.result')?.value === 'MSI-Cannot be determined') {
                <input type="text" class="explain-field" formControlName="msiExplain">
                }
            </label>
            }
        </fieldset>

    </fieldset>

    <!-- HER2 Section -->
    <fieldset>
        <legend>
            <h2>HER2 (Note F)</h2>
        </legend>

        <fieldset formGroupName="her2TestsPerformed">
            <legend>Test(s) Performed (select all that apply)</legend>
            <label>
                <input type="checkbox" formControlName="ihc"> HER2 by IHC
            </label>
            <label>
                <input type="checkbox" formControlName="ish"> HER2 (ERBB2) by ISH
            </label>
            <label>
                <input type="checkbox" formControlName="genomic"> HER2 (ERBB2) by Genomic Test
            </label>
        </fieldset>

        @if (her2Tests.get('ihc')?.value) {
        <div class="sub-section" formGroupName="her2Ihc">
            <h3>HER2 by IHC</h3>

            <fieldset>
                <legend>+Results</legend>
                <label><input type="radio" formControlName="results" value="Negative (Score 0)"> Negative (Score
                    0)</label>
                <label><input type="radio" formControlName="results" value="Negative (Score 1+)"> Negative (Score
                    1+)</label>
                <label><input type="radio" formControlName="results" value="Equivocal (Score 2+)"> Equivocal (Score
                    2+)</label>
                <label><input type="radio" formControlName="results" value="Positive (Score 3+)"> Positive (Score
                    3+)</label>
                <label>
                    <input type="radio" formControlName="results" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (her2Ihc.get('results')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="resultsExplain">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>+Scoring System</legend>
                <label><input type="radio" formControlName="scoringSystem" value="ASCO / CAP HER2 Breast Cancer 2018">
                    ASCO / CAP HER2 Breast
                    Cancer 2018</label>
                <label><input type="radio" formControlName="scoringSystem"
                        value="CAP / ASCP / ASCO HER2 Gastroesophageal Adenocarcinoma 2016"> CAP / ASCP / ASCO HER2
                    Gastroesophageal Adenocarcinoma 2016</label>
                <label><input type="radio" formControlName="scoringSystem" value="HERACLES"> HERACLES</label>
                <label>
                    <input type="radio" formControlName="scoringSystem" value="Other"> Other (specify):
                    @if (her2Ihc.get('scoringSystem')?.value === 'Other') {
                    <input type="text" class="explain-field" formControlName="scoringSystemOther">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>+Staining Intensity</legend>
                <label><input type="radio" formControlName="stainingIntensity" value="0 (none)"> 0 (none)</label>
                <label><input type="radio" formControlName="stainingIntensity" value="1+ (faint or barely perceptible)">
                    1+ (faint or barely
                    perceptible)</label>
                <label><input type="radio" formControlName="stainingIntensity" value="2+ (weak to moderate)"> 2+ (weak
                    to moderate)</label>
                <label><input type="radio" formControlName="stainingIntensity" value="3+ (strong)"> 3+ (strong)</label>
                <label>
                    <input type="radio" formControlName="stainingIntensity" value="Other"> Other (specify):
                    @if (her2Ihc.get('stainingIntensity')?.value === 'Other') {
                    <input type="text" class="explain-field" formControlName="stainingIntensityOther">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>+Percentage of Tumor Cells with Specific Membrane Staining (i.e., complete, basolateral, or
                    lateral membrane)</legend>
                <label><input type="radio" formControlName="percentageTumorCells" value="Less than 10"> Less than
                    10%</label>
                <label><input type="radio" formControlName="percentageTumorCells" value="10-49"> 10-49%</label>
                <label><input type="radio" formControlName="percentageTumorCells" value="Greater than or equal to 50">
                    Greater than or
                    equal to 50%</label>
                <label>
                    <input type="radio" formControlName="percentageTumorCells" value="specify"> Specify percentage:
                    <input type="text" class="number-field" formControlName="percentageSpecify"> %
                </label>
            </fieldset>
        </div>
        }

        @if (her2Tests.get('ish')?.value) {
        <div class="sub-section" formGroupName="her2Ish">
            <h3>HER2 (ERBB2) by ISH</h3>

            <fieldset>
                <legend>+Results</legend>
                <label><input type="radio" formControlName="results" value="Negative (not amplified)"> Negative (not
                    amplified)</label>
                <label><input type="radio" formControlName="results" value="Positive (amplified)"> Positive
                    (amplified)</label>
                <label>
                    <input type="radio" formControlName="results" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (her2Ish.get('results')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="resultsExplain">
                    }
                </label>
            </fieldset>

            <fieldset>
                <legend>+Scoring System</legend>
                <label><input type="radio" formControlName="scoringSystem" value="ASCO / CAP HER2 Breast Cancer 2018">
                    ASCO / CAP HER2 Breast
                    Cancer 2018</label>
                <label><input type="radio" formControlName="scoringSystem"
                        value="CAP/ASCP/ASCO HER2 Gastroesophageal Adenocarcinoma 2016 (aka Ventana)"> CAP/ASCP/ASCO
                    HER2 Gastroesophageal Adenocarcinoma 2016 (aka Ventana)</label>
                <label><input type="radio" formControlName="scoringSystem" value="HERACLES"> HERACLES</label>
                <label>
                    <input type="radio" formControlName="scoringSystem" value="Other"> Other (specify):
                    @if (her2Ish.get('scoringSystem')?.value === 'Other') {
                    <input type="text" class="explain-field" formControlName="scoringSystemOther">
                    }
                </label>
            </fieldset>

            <label>+Number of Invasive Cancer Cells Counted: <input type="number" formControlName="cellsCounted">
                cells</label>

            <fieldset>
                <legend>+Method</legend>
                <label><input type="checkbox" formControlName="dualProbe"> Using dual-probe assay</label>

                @if (her2Ish.get('dualProbe')?.value) {
                <div class="sub-section" formGroupName="dualProbeDetails">
                    <label>+HER2(ERBB2):CEP17 Ratio: <input type="text" formControlName="ratio"></label>
                    <label>+Average Number of HER2 (ERBB2) Signals: <input type="number" formControlName="avgHer2">
                        signals/cell</label>
                    <label>+Average Number of CEP17 Signals: <input type="number" formControlName="avgCep17">
                        signals/cell</label>
                    <label>+Range of Number of HER2 (ERBB2) Signals: <input type="text"
                            formControlName="rangeHer2"></label>
                </div>
                }

                <label><input type="checkbox" formControlName="singleProbe"> Using single-probe assay</label>

                @if (her2Ish.get('singleProbe')?.value) {
                <div class="sub-section" formGroupName="singleProbeDetails">
                    <label>+Average Number of HER2 (ERBB2) Signals: <input type="number" formControlName="avgHer2">
                        signals/cell</label>
                    <label>+Range of Number of HER2 (ERBB2) Signals: <input type="text"
                            formControlName="rangeHer2"></label>
                </div>
                }
            </fieldset>
        </div>
        }

        @if (her2Tests.get('genomic')?.value) {
        <div class="sub-section" formGroupName="her2Genomic">
            <h3>HER2 (ERBB2) by Genomic Test</h3>
            <fieldset>
                <legend>+Results</legend>
                <label><input type="radio" formControlName="results" value="Negative"> Negative</label>
                <label>
                    <input type="radio" formControlName="results" value="Positive"> Positive (specify):
                    @if (her2Genomic.get('results')?.value === 'Positive') {
                    <input type="text" class="explain-field" formControlName="resultsPositiveSpecify">
                    }
                </label>
                <label>
                    <input type="radio" formControlName="results" value="Cannot be determined"> Cannot be determined
                    (explain):
                    @if (her2Genomic.get('results')?.value === 'Cannot be determined') {
                    <input type="text" class="explain-field" formControlName="resultsExplain">
                    }
                </label>
            </fieldset>
        </div>
        }
    </fieldset>

    <hr>

    <!-- Additional Biomarker Testing Section -->
    <fieldset>
        <legend>
            <h2>Additional Biomarker Testing</h2>
        </legend>

        <label>
            <input type="checkbox" formControlName="additionalTestingDone"> Additional biomarker testing performed
            (specify):
        </label>
        <br>
        @if (pathologyReportForm.get('additionalTestingDone')?.value) {
        <textarea ows="4" cols="50" placeholder="Enter any additional biomarker testing here..."
            formControlName="additionalTestingDetails"></textarea>
        }

    </fieldset>

    <!-- Comment-->
    <fieldset>
        <legend>
            <h2>Comments</h2>
        </legend>

        <textarea formControlName="comments" rows="4" cols="50"
            placeholder="Enter any additional comments here..."></textarea>
    </fieldset>

    <!-- Submit Button -->

    <button type="submit" [disabled]="!pathologyReportForm.valid">Submit Report</button>



</form>
<!-- Preview -->

<pre style="white-space: pre-wrap;">{{outputData}} </pre>

<!-- Button to copy outputData to clipboard-->
@if (outputData) {
<button (click)="copyToClipboard()">Copy</button>
}

<!-- End Preview -->